# GEMINI_API_KEY: Required for Gemini AI API calls.
# This is a placeholder key.
# AI Studio automatically injects this at runtime from user secrets.
# Users configure this via the Secrets panel in the AI Studio UI.
GEMINI_API_KEY=MY_GEMINI_API_KEY


INSFORGE_PROJECT_URL=https://ywy9d5pe.eu-central.insforge.app
INSFORGE_ANON_KEY=anon_a5a93998a5fc7576abb114d44780878005623a505a8e821c827b1e3f4532934f
CLOUDINARY_CLOUD_NAME=dlct4kt1s
CLOUDINARY_UPLOAD_PRESET=nexgenbykgc